*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/CONTACT-BACKG.jpeg);
    background-size: cover;
    background-position: right;
    
}

.container{
    padding: 10px 10%;
}

nav{
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}
.logo{
    width: 140px;

}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}
nav ul li a{
color: #fff;
text-decoration: none;
font-size: 18px;
position: relative;

}

nav ul li a::after{
content: '';
width: 0;
height: 3px;
background: #ff004f;
position: absolute;
left: 0;
bottom: -6px;  
transition: 0.5s;      
}
nav ul li a:hover::after{
width: 100%;

}



.header-text{
    font-size: 30px;
    margin-top: 150px;

}

.header-text h1 span{
    color: #ff004f;
}
/* -------------About------------- */

.about-pic{
    width: 400px;
    

}
#about{
    padding: 80px 0;
    color: #ababab;
    background-image: url(Images/aboutmepicback.jpeg);
    background-size: cover;
    background-position: right;
}

.row{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title
{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.about-text{
    font-size: 18px;
    font-weight: 200;
    color: #fff;
}
.about-text-2{
    font-size: 27px;
    font-weight: 1000;
    color: #c70606;
    display: flex;
    justify-content: center;
}

.about-text-3{
    font-size: 18px;
    font-weight: 200;
    color: #fff;
}
.about-text-3 span{
    font-size: 22px;
    font-weight: bold;
 color: antiquewhite;
}
.about-text-4{
    font-size: 18px;
    font-weight: 200;
    color: #fff;
}
.about-text-4 span{
    font-size: 22px;
    font-weight: bold;
 color: antiquewhite;
}
.about-text-5{
    font-size: 18px;
    font-weight: 200;
    color: #fff;
}
.about-text-5 span{
    font-size: 22px;
    font-weight: bold;
 color: antiquewhite;
}
.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    
}

.btn:hover{
    background: #ff004f;
}

/* -------------Skills------------- */
#skills{
    width: 100%;
    height: 100vh;
    background-image: url(Images/aboutmepicback.jpeg);
    background-size: cover;
    background-position: right;
    

}
.skill-header{
    font-size: 70px;
    font-weight: bold;
    color: beige;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Inconsolata', monospace;
   
   
}
.skill-1 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 5%;
    color: antiquewhite;
}
.skill-1 span{
    color: #ff004f;
}
.skill-2{
    font-size: 25px;
    font-weight: 300;
    color: antiquewhite;
}
.skill-3 span{
    color: #ff004f;
    font-size: 30px;
    font-weight: 400;
}
.skill-3 {
    font-size: 25px;
    font-weight: 300;
    color: antiquewhite;
}

.skill-4 span{
    color: #ff004f;
    font-size: 30px;
    font-weight: 400;
}
.skill-4 {
    font-size: 25px;
    font-weight: 300;
    color: antiquewhite;
}

.skill-5 span{
    color: #ff004f;
    font-size: 30px;
    font-weight: 400;
}
.skill-5 {
    font-size: 25px;
    font-weight: 300;
    color: antiquewhite;
}



/* -------------achievement------------- */

#achievement{
width :100%;
height: 100vh;
background-image: url(Images/aboutmepicback.jpeg);
background-size: cover;
background-position: right;
}

.achievement-header{
font-size: 70px;
font-weight: bold;
color: beige;
display: flex;
justify-content: center;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Inconsolata', monospace;
}

.achievemenet-1 span{
    font-size: 28px;
    font-weight: 1000;
    color: #f36262;
}
.achievemenet-2 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.achievemenet-3 span{
    font-size: 28px;
    font-weight: 1000;
    color: #f36262;
}
.achievemenet-4 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}


/* -------------contact------------- */

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
   color: #ff004f;
   margin-right: 15px;
   font-size: 25px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
}

form .btn2{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 60px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background-color: #770d0d;
}
.btn2:hover {
    background: #ff004f;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 400;
    margin-top: 20px;
}
.copyright i{
    color: #c70606;
}